/* Estilos gerais */
body {
    background-color: #ffffff;
    margin: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 40px;
}

/* Menu de navegação */
nav {
    background-image: url("../img/fundo.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px 0px;
}

nav ul .liPrincipal {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0px 15px 20px;
    background-color: #ffffff;
}

nav ul .liPrincipal:hover {
    background-color: #ececec;
}

nav ul li a {
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2 {
    background-color: #ffffff !important;
    border-radius: 100%;
    text-align: center;
}

#icones {
    margin-left: auto;
    padding: 0px;
}

#icones ul li {
    margin-left: auto;
    margin: 15px 0px 15px 20px;
}

#li_icon1 {
    padding: 7px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#li_icon2 {
    padding: 3px;
    width: 50px;
    height: 50px;
    margin-right: 10px !important;
}

.icon img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Menu em telas entre 769px e 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    nav ul li {
        margin: 15px 10px 15px 20px;
    }
}

/* Menu em telas até px */
@media (max-width: 768px){
    nav ul {
        padding: 15px 10px 15px 10px !important;
    }

    nav ul .liPrincipal {
        margin: 15px 20px 15px 20px;
        background-color: #f3f3f3;
        margin-bottom: 5px !important;
    }

    nav ul {
        display: block;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    nav ul li {
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0px;
    }

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }

    #icones {
        margin: auto;
    }

    #li_icon2 {
        padding: 0;
        width: 50px;
        height: 50px;
        padding: 3px;
    }
}

/* Estilos do conteúdo */
main h1 {
    color: #042054;
}

/* Layout padrão para telas grandes */
main section {
    display: flex; /* Mantém as seções lado a lado em telas grandes */
    margin-bottom: 20px; /* Espaço entre seções */
}

main section header {
    width: 15%;
    max-width: 15%;
    padding: 0px;
    margin: 0px;
}

main section header h2 {
    text-transform: uppercase;
    color: #EF6F20;
    text-align: left;
}

main section article {
    background-color: #042054;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 25%;
    box-shadow: 2px 2px 2px #d6d6d6;
}

main section .articlePre {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    width: 25%;
}

/* Estilos responsivos para telas pequenas */
@media (max-width: 850px) {
    main section {
        display: block; /* Empilha as seções verticalmente em telas pequenas */
    }

    main section header {
        width: 100%; /* Ajusta a largura do cabeçalho para ocupar toda a largura disponível */
    }

    main section article,
    main section .articlePre {
        width: 100%; /* Ajusta a largura dos artigos para ocupar toda a largura disponível */
        margin-left: 0; /* Remove a margem esquerda */
    }

    main section header {
        max-width: 50%;
        padding: 0px;
        margin: 0px;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }
}

/* Estilos para blocos de exemplos de código */
.articlePre pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ff872c;
    margin: 0;
    padding: 0;
}

/* Estilos para link "Manual de bolso" */
.manual-link {
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.manual-link a {
    color: #ff8400;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #EF6F20;
    padding-bottom: 2px;
    justify-content: center;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.manual-link a:hover {
    color: #ff5900;
    border-bottom-color: #ff5900;
}


/* Estilo para o skiplink */
.skiplink {
    position: absolute; /* Posiciona o link de forma absoluta */
    top: -40px; /* Posiciona 40px acima do topo */
    left: 0; /* Alinha ao início da lateral esquerda */
    background-color: #000027; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 8px 10px; /* Padding interno */
    z-index: 100; /* Camada superior */
    transition: top 0.3s ease; /* Transição suave para a posição */
    border-radius: 15px; /* Arredondamento dos cantos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.skiplink:focus {
    top: 0; /* Move o link para a posição inicial */
    margin-top: 5px; /* Adiciona margem superior de 5px */
    margin-left: 5px; /* Adiciona margem à esquerda de 5px */
}

/*Estilo icones acessibilidade*/

#acessibilidade {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    background-color: #ffffff;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

#acessibilidade a {
    text-align: center;
    display: block;
}

#acessibilidade img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

#acessibilidade img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


#setaVolta{
    text-align: right;
    width: 100%;
    margin-top: 50px;
  }

  #setaVolta a{
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 100px;
    background-color: #ffffff;
  }

  footer{
    background-image: url("../img/fundo.png");
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

  footer p{
    font-size: 16px;
  }

  footer a{
    color: #ffffff;
    text-decoration: none;
  }

  footer a:hover{
    color: #ff8400;
  }
  footer img{
    width: 40px;
    height: auto
  }
