body{
    background-image: url("../img/fundo.png");
    margin: 0px !important;
}

main{
    padding: 40px;
}
/* Menu de navegação */

nav{
    background-color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;

    list-style-type: none;
}

nav ul li{
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    margin: 15px 0px 15px 20px;

}

nav ul li:hover{
    background-color: #ececec;
}

nav ul li a{
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2{
    background-color: #152576;
    border-radius: 100%;
    text-align: center;
}
#icones{
    margin-left: auto;
}

#li_icon1 {
    padding: 5px;
    width: 40px;
    height: 40px;
}
#li_icon2 {
    padding: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.icon img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Seção principal */

section{
    background-color: #F9EDCB;
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 50px;

    border-radius: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042054;
    padding: 40px 100px 60px 100px;
}

section h1{
    text-align: center;
}

/* Tela até 1024px */

@media (min-width: 769px) and (max-width: 1024px) {

    section{
        height: auto;
        width: auto;
        padding: 60px 60px 100px 100px;
    }
    section h1{
        text-align: center;
        font-size: 25pt;
    }
    nav ul li{
        margin: 15px 20px 15px 20px;
    }
  } 

  /* Tela até 567px */

  @media  (max-width: 650px) {

    main{
        padding: 20px;
    }

    section{
        height: auto;
        width: auto;
        padding: 100px 80px 100px 100px;

    }

    section article p{
        font-size: 15pt;
    }
    
    section h1{
        text-align: center;
        font-size: 20pt;
    }

    nav ul{
        padding:15px 20px 15px 20px !important;
    }

    nav ul .liPrincipal{
        margin: 15px 0px 15px 0px;
        background-color: #e7e7e78c;
        margin-bottom: 5px !important;
    }

    #icones ul li{
        font-size: 10pt;
        margin: 15px 0px 15px 0px;
        background-color: #e7e7e78c;
        margin-bottom: 5px !important;
    }

    nav ul{
        display: block;
        align-items: center; 
        padding: 0;
        margin: 0;
    
        list-style-type: none;
    }

    nav ul li{
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0px 0px 0px 0px;
    
  } 

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }
    
    #icones{
        margin: auto;
    }

    #li_icon2 {
        padding: 0;
        width: 50px;
        height: 50px;
        padding:3px;

    }

}

