body {
    background-image: url("../img/fundo.png");
    margin: 0 !important;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0% 5%;

}


#secaoPrincipal{
    flex: 2;
    background-color: #F9EDCB;
    margin-right: 10px;
    padding: 40px 100px 60px 100px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042054;
    margin-top: 100px; /* Garantido que a margem superior da section seja consistente */
    max-width: 50%;

}

#secaoSecundaria{
    max-width: 30%;
    margin-top: 100px;
    font-size: 12px;

}

#secaoSecundaria aside {
    flex: 1;
    background-color: #fffcf7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #2b2b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042054;
    margin-top: 20px; /* Corrigido para evitar duplicidade */
    align-items: center;
    width: 100%;
    display: flex;
}

#secaoSecundaria aside h3 {
    margin-top: 0;
    margin-right: 0;
    text-transform: uppercase;
    line-height: 1.5;
}

#secaoSecundaria article img {
    box-shadow: 1px 2px 3px #2b2b2b;
    padding: 0;
    border: none;
}


.photo-gallery {
    display: flex;
    gap: 20px;
}

.photo-gallery img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    object-fit: cover;
}

/* CSS para imagem saltitando */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-5px); /* Movimento para cima */
    }
}

aside.saltitando {
    display: inline-block;
    animation: bounce 1s infinite; /* Animação contínua */
}


#imgPassos {
    position: relative;
    width: 20%;
    margin-right: 20px;
}

/* Menu de navegação */
nav {
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    margin: 15px 0 15px 20px;
}

nav ul li:hover {
    background-color: #ececec;
}

nav ul li a {
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2 {
    background-color: #152576;
    border-radius: 100%;
    text-align: center;
}

#icones {
    margin-left: auto;
}

#li_icon1 {
    padding: 5px;
    width: 40px;
    height: 40px;
}

#li_icon2 {
    padding: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Seção principal */
section h1 {
    text-align: center;
}

/* Tela até 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
   
    
    section h1 {
        font-size: 25pt;
    }
    
    nav ul li {
        margin: 15px 20px 15px 20px;
    }
}

/* Tela até 567px */
@media (max-width: 650px) {
    main {
        padding: 20px 30px;
        display: block;
    }

    section {
        padding: 30px 0px 50px 10px;
    }

    #secaoPrincipal article p {
        font-size: 15pt;
    }

    #secaoPrincipal h1 {
        font-size: 20pt;
    }

    #secaoPrincipal{
        max-width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }

    nav ul {
        padding: 15px 20px 15px 20px !important;
        display: block;
        align-items: center;
        list-style-type: none;
    }

    nav ul .liPrincipal {
        margin: 15px 0;
        background-color: #e7e7e78c;
        margin-bottom: 5px !important;
    }

    #icones ul li {
        font-size: 10pt;
        margin: 15px 0;
        background-color: #e7e7e78c;
        margin-bottom: 5px !important;
    }

    nav ul li {
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
    }

    #li_icon2 {
        padding: 3px;
        width: 50px;
        height: 50px;
    }

    #secaoSecundaria{
        max-width: 90%;
        margin-top: 0px;
        display: flex;
    
    }
    #secaoSecundaria aside{
        max-width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
    
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
}

.skip-link:focus {
    top: 0;
}

.aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .aside-container {
        flex-direction: column;
    }

    .photo-gallery {
        flex-direction: column;
    }
}

