/* Estilo geral do corpo da página */
body {
    background-image: url("../img/fundo.png");
    margin: 0 !important;
}

/* Estilos principais do conteúdo */
main {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0% 5%;    
    display: flex;

}

section h1 {
    text-align: center;
}

/* Seção principal */
#secaoPrincipal {
    flex: 2;
    background-color: #F9EDCB;
    margin-right: 10px;
    padding: 40px 100px 60px 100px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042054;
    margin-top: 100px; 
    max-width: 50%;
}

/* Seção secundária */
#secaoSecundaria {
    max-width: 30%;
    margin-top: 100px;
    font-size: 12px;
}

#secaoSecundaria article img {
    box-shadow: 1px 2px 3px #2b2b2b;
    padding: 0;
    border: none;
}

#secaoSecundaria #imgPassos {
    position: relative;
    width: 20%;
    margin-right: 20px;
}

#secaoSecundaria aside {
    flex: 1;
    background-color: #fffcf7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #2b2b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042054;
    margin-top: 20px; 
    align-items: center;
    width: 100%;
    display: flex;
}

#secaoSecundaria aside h3 {
    margin-top: 0;
    margin-right: 0;
    text-transform: uppercase; /* Letra maiúscula */
    line-height: 1.5;
}



/* Estilos dos avatares */
.avatar {
    display: flex;
    gap: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    object-fit: cover;
}

/* Animação de salto para elementos */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-5px); /* Movimento para cima */
    }
}

aside.saltitando {
    display: inline-block;
    animation: bounce 1s infinite; /* Animação contínua */
}



/* Estilos para o menu de navegação */
nav {
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px 0px;
}

nav ul .liPrincipal {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0px 15px 20px;
    background-color: #ffffff;
}

nav ul .liPrincipal:hover {
    background-color: #ececec;
}

nav ul li a {
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2 {
    background-color: #152576;
    border-radius: 100%;
    text-align: center;
}

#icones {
    margin-left: auto;
    padding: 0px;
}

#icones ul li {
    margin-left: auto;
    margin: 15px 0px 15px 20px;
}

#li_icon1 {
    padding: 7px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#li_icon2 {
    padding: 3px;
    width: 50px;
    height: 50px;
    margin-right: 10px !important;
}

.icon img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*Estilo icones acessibilidade*/

#acessibilidade {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    background-color: #ffffff;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

#acessibilidade a {
    text-align: center;
    display: block;
}

#acessibilidade img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

#acessibilidade img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

footer{
    background-color: #ffffff;
    color: #EF6F20;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    margin-top: 100px;
    margin-bottom: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  footer img{
    width: 60px;
    height: auto;
  }
  footer p{
    font-size: 16px;
  }

  footer a{
    color: #EF6F20;
    text-decoration: none;
  }

  footer a:hover{
    color: #02114f;
  }

  footer img{
    width: 40px;
    height: auto
  }

/* Estilos para telas com largura entre 769px e 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    section h1 {
        font-size: 25pt;
    }

    nav ul li {
        margin: 15px 20px 15px 20px;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }
}

/* Estilos para telas com largura até 650px */
@media (max-width: 768px) {

    main {
        padding: 20px 30px;
        display: block;
    }

    section {
        padding: 30px 0px 50px 10px;
    }

    #secaoPrincipal article p {
        font-size: 15pt;
    }

    #secaoPrincipal h1 {
        font-size: 20pt;
    }

    #secaoPrincipal {
        max-width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }

    #secaoSecundaria {
        max-width: 90%;
        margin-top: 0px;
        display: flex;
    }

    #secaoSecundaria aside {
        max-width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
    } 
    
    nav ul {
        padding: 15px 10px 15px 10px !important;
    }

    nav ul {
        display: block;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    nav ul li {
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0px 0px 0px 0px;
    }

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }
    
    #icones {
        margin: auto;
    }

    #li_icon2 {
        padding: 0;
        width: 50px;
        height: 50px;
        padding: 3px;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
        margin-bottom: auto;
        margin-top: 10px;
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }
}

@media (max-width: 585px) {


    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
        margin-top: 10px;

    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }
    #secaoSecundaria aside {
        margin-left: 0px;
    } 

    #secaoSecundaria {
        max-width: 90%;
        margin-top: 0px;
        display: block;
    }

    #acessibilidade{
        top: 50px;
    }
}
