body{
    background-color: #ffffff;
    margin: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    padding: 40px;
}
/* Menu de navegação */

nav{
    background-image: url("../img/fundo.png");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px 0px;
}

nav ul .liPrincipal{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0px 15px 20px;
    background-color: #ffffff;
    
}

nav ul .liPrincipal:hover{
    background-color: #ececec;
}

nav ul li a{
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2{
    background-color: #ffffff !important;
    border-radius: 100%;
    text-align: center;
}
#icones{
    margin-left: auto;
    padding: 0px;

}

#icones ul li{
    margin-left: auto;
    margin: 15px 0px 15px 20px;
}

#li_icon1 {
    padding: 7px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#li_icon2 {
    padding: 3px;
    width: 50px;
    height: 50px;
    margin-right: 10px !important;
}
.icon img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*parte dos textos*/

h1 {
    color: #0e4853;
    text-align: center;
    margin-bottom: 20px;
}

#container {
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cria colunas que se ajustam automaticamente */
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px; /* Largura máxima de 1200px */
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

.step {
    position: relative;
    background-color: #005f99;
    box-shadow: 1px 2px 3px #00264d;
    border-radius: 15px;
    padding: 30px;
    height: 220px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column; /* Layout em coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Alinha os itens ao centro verticalmente */
    margin-top: 60px; /* Margem superior de 60px */
}

.step:hover {
    transform: translateY(-10px); /* Move a caixinha 10px para cima */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra para dar mais destaque */
}

/* Cores específicas para cada passo */

.step1 { background-color: #1e8698; }
.step2 { background-color: #1a758a; }
.step3 { background-color: #16657b; }
.step4 { background-color: #12546d; }
.step5 { background-color: #0e445f; }
.step6 { background-color: #0a3350; }
.step7 { background-color: #062341; }
.step8 { background-color: #031528; }


/* Estilo para imagens dentro dos passos */
/*Faz com que a imagem fique entre body e as caixinhas do step*/

.step img.step-img {
    position: absolute; /* Posiciona a imagem de forma absoluta dentro do passo */
    top: -25px; /* Posiciona a imagem 25px acima da parte superior do passo */
    width: 50px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */ 
}

.step p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
}

#dica-container {
    position: absolute; /* Posiciona o container de dicas de forma absoluta */
    top: 140px; /* Posiciona o container 140px abaixo do topo */
    right: 10px; /* Posiciona o container 10px da borda direita */
    display: flex; /* Layout flexbox */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    background: linear-gradient(135deg, #ff5722, #eaad6f); /* Gradiente de fundo */
    color: white; /* Cor do texto */
    padding: 10px; /* Padding interno de 10px */
    border: 1px solid #f6f7f8; /* Borda ao redor do container */
    border-radius: 50%; /* Forma circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ao redor do container */
    width: 150px; /* Largura do container */
    height: 140px; /* Altura do container */
    font-size: 13px; /* Tamanho da fonte */
}



#dica-container aside {
    text-align: center;
}

#dica-container aside a {
    color: #450000;
    text-decoration: none;
    font-weight: bold;
}

#dica-container aside a:hover {
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}

/*Estilo icones acessibilidade*/

#acessibilidade {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    background-color: #0e445f;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

#acessibilidade a {
    text-align: center;
    display: block;
}

#acessibilidade img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

#acessibilidade img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

footer{
    background-image: url("../img/fundo.png");
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  footer p{
    font-size: 16px;
  }

  footer a{
    color: #ffffff;
    text-decoration: none;
  }

  footer a:hover{
    color: #ff8400;
  }

  footer img{
    width: 40px;
    height: auto
  }
/*Responsividade*/

@media (min-width: 769px) and (max-width: 1024px) {

    nav ul li{
        
        margin: 15px 10px 15px 20px;
    }

    #container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Mantém a grid responsiva */
    }

    h1 {
        font-size: 1.5em;
    }

    #dica-container {
        width: 120px;
        height: 120px;
        font-size: 12px;
        top: 160px;
    }

}

@media(min-width: 570px) and (max-width: 760px){

    #dica-container {
        width: 100px;
        height: 100px;
        font-size: 10px;
        top: 150px;
        right: 5px;
    }

    #dica-container aside {
        font-size: 10px;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }

}

/* telas até 567px */

@media (min-width: 200px) and (max-width: 567px) {

    nav ul{
        padding:15px 10px 15px 10px !important;
    }

    nav ul .liPrincipal{
        margin: 15px 20px 15px 20px;
        background-color: #f3f3f3;
        margin-bottom: 5px !important;
    }

    nav ul{
        display: block;
        align-items: center; 
        padding: 0;
        margin: 0;
    
        list-style-type: none;
    }

    nav ul li{
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0px 0px 0px 0px;
    
  } 

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }
    
    #icones{
        margin: auto;
    }

    #li_icon2 {
        padding: 0;
        width: 50px;
        height: 50px;
        padding:3px;

    }

    #container {
        grid-template-columns: 1fr; /* Coloca um item por linha */
        gap: 20px;
    }

    h1 {
        font-size: 1.2em;
        text-align: left;
    }


    #dica-container {
        width: 100px;
        height: 100px;
        font-size: 10px;
        top: 400px;
        right: 5px;
    }

    #dica-container aside {
        font-size: 10px;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }

}