body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.secao_principal{
    background-image:url("../img/fundo2.png") ;
    background-size: contain;
    color: white;
    height: 100vh;
    width: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.secao_principal header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #202020;
    padding: 10px 30px 10px 30px;
    text-align:left;
    border-radius: 30px;
    margin: 100px 30px 10px 30px;
    margin-bottom: auto;
}

.secao_principal main{
    display: flex;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}


.details-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.details-section {
    background: #ffffff;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.dot1 { background: #2a2a72; }
.dot2 { background: #ff3300; }
.dot3 { background: #2a9d8f; }
.dot4 { background: #8bc34a; }

.detail-item p {
    margin: 0;
    background: #ffe4e1;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
