/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Layout principal */
main {
    display: flex;
    height: 100vh;
    
}

/* Seção 2 */
#secao2 {
    width: 60%;
    text-align: center;
    padding: 50px 40px !important;
    height: auto;
    background-image: url("../img/fundo.png");
    background-size: cover;
}

/* Seção 1 */
.secao1 {
    background: #042054;
    width: 40%;
    padding: 20px;
}

.secao1 header {
    align-items: center;
    background-color: #ffffff;
    color: #202020;
    padding: 10px 30px;
    text-align: left;
    border-radius: 30px;
    margin: 160px 50px 0px 50px;
    margin-bottom: auto;
    display: block;
    box-shadow: 1px 2px 3px #000000ba;
}

.secao1 article p {
    font-size: 280%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0%;
    padding: 100px 80px 0px 80px;
    color: #ffffff;
}

/* Botão Voltar */
.btnVoltar {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #202020;
    background-color: #ffffff;
    border-radius: 200px;
    padding: 7px 10px;
}

/* Blocos de Relatos */
.relatos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.rel1 { background: #2a2a72; }
.rel2 { background: #ff3300; }
.rel3 { background: #2a9d8f; }
.rel4 { background: #8bc34a; }

.relatos p {
    margin: 0;
    background-color: #ffffff;
    color: #202020;
    text-align: left;
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o skiplink */
.skiplink {
    position: absolute; /* Posiciona o link de forma absoluta */
    top: -40px; /* Posiciona 40px acima do topo */
    left: 0; /* Alinha ao início da lateral esquerda */
    background-color: #000027; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 8px 10px; /* Padding interno */
    z-index: 100; /* Camada superior */
    transition: top 0.3s ease; /* Transição suave para a posição */
    border-radius: 15px; /* Arredondamento dos cantos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.skiplink:focus {
    top: 0; /* Move o link para a posição inicial */
    margin-top: 5px; /* Adiciona margem superior de 5px */
    margin-left: 5px; /* Adiciona margem à esquerda de 5px */
}

/*Estilo icones acessibilidade*/

#acessibilidade {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    background-color: #ffffff;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

#acessibilidade a {
    text-align: center;
    display: block;
}

#acessibilidade img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

#acessibilidade img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


#setaVolta{
    text-align: right;
    width: 100%;
    margin-top: 50px;
  }

  #setaVolta a{
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 100px;
    background-color: #ffffff;
  }

  
  @media (max-width: 1276px) {
    main {
        height: auto;
    }

    .secao1 {
        width: 100%;
    }

    #secao2 {
        width: 100%;
        padding: 100px 20px !important;
    }

    .relatos {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 90%;
    }

    .secao1 header {
        
        margin: 200px 50px 0px 50px;
        
    }
   
}
  @media (max-width: 768px) {
    main {
        display: block;
    }

    .secao1 {
        width: 100%;
    }

    #secao2 {
        width: 100%;
        padding: 100px 20px !important;
        margin: auto;
    }

    .relatos {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 90%;
        margin-left: 0px;

    }

    .secao1 header {
        
        margin: 100px 50px 0px 50px;
        
    }

    #setaVolta{
        text-align: right;
        width: 90%;
        margin-top: 50px;
    }
   
}
/* Estilos responsivos para telas pequenas */
@media (max-width: 567px) {
    main {
        display: block;
    }

    .secao1 {
        width: 100%;
    }

    #secao2 {
        width: 100%;
        padding: 100px 20px !important;
    }

    .relatos {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 90%;
    }
   
}
