body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main{
    display: flex;
}

.secao1{
    background-image:url("../img/fundo.png") ;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 60%;
    text-align: center;
}

.secao1 header {
   
    align-items: center;
    background-color: #ffffff;
    color: #202020;
    padding: 10px 30px 10px 30px;
    text-align:left;
    border-radius: 30px;
    margin: 200px 50px 0px 50px;
    margin-bottom: auto;
    display: block;
    box-shadow: 1px 2px 3px #000000ba;
}

.secao1 article p{
    font-size: 280%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0%;
    padding: 80px 80px 0px 80px;
}

.btnVoltar {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #202020;
    background-color: #ffffff;
    border-radius: 200px;
    padding: 7px 10px;
}



#secao2{
    background: #ffffff;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.relatos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.rel1 { background: #2a2a72; }
.rel2 { background: #ff3300; }
.rel3 { background: #2a9d8f; }
.rel4 { background: #8bc34a; }

.relatos p {
    margin: 0;
    background: rgba(44, 227, 255, 0.136);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 567px) {

    main{
        display: block;
    }

    .secao1{
        width: 100%;
    }
}