body{
    background-color: #ffffff;
    margin: 0px !important;
}

/* Menu de navegação */

nav{
    background-image: url("../img/fundo.png");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;

}
nav ul{
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px 0px;
}

nav ul .liPrincipal{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0px 15px 20px;
    background-color: #ffffff;
    
}

nav ul .liPrincipal:hover{
    background-color: #ececec;
}

nav ul li a{
    color: #EF6F20;
    text-decoration: none;
}

#li_icon1, #li_icon2{
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
}

#icones{
    margin-left: auto;
    padding: 0px;

}

#icones ul li{
    margin-left: auto;
    margin: 15px 0px 15px 20px;
}

#li_icon1 {
    padding: 7px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#li_icon2 {
    padding: 3px;
    width: 50px;
    height: 50px;
    margin-right: 10px !important;
}
.icon img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

footer{
    background-image: url("../img/fundo.png");
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  footer p{
    font-size: 16px;
  }

  footer a{
    color: #ffffff;
    text-decoration: none;
  }

  footer a:hover{
    color: #ff8400;
  }

  footer img{
    width: 40px;
    height: auto
  }
/* Menu em telas até 1024px */

@media (min-width: 769px) and (max-width: 1024px) {
    
    nav{
        margin-bottom:  50px;
    }

    nav ul li{
        
        margin: 15px 10px 15px 20px;
    }
}

/* Menu em telas até 567px */

@media(max-width: 567px) {

    nav{
        margin-bottom: 0px;
    }
    nav ul{
        padding:15px 10px 15px 10px !important;
    }

    nav ul .liPrincipal{
        margin: 15px 20px 15px 20px;
        background-color: #fffffffe;
        margin-bottom: 5px !important;
    }

    nav ul{
        display: block;
        align-items: center; 
        padding: 0;
        margin: 0;
    
        list-style-type: none;
    }

    nav ul li{
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        margin: 0px 0px 0px 0px;
    
  } 

    #li_icon1 {
        margin-left: auto;
        padding: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    #li_icon1, #li_icon2 {
        display: inline-block;
        margin: auto;
    }
    
    #icones{
        margin: auto;
    }

    #li_icon2 {
        padding: 0;
        width: 50px;
        height: 50px;
        padding:3px;

    }
}


/*Parte dos textos*/

main {
    display: inline-flex; /* Exibe os itens em linha flexível */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px; /* Adiciona padding interno de 20px */
    margin: 0px !important; /* Remove margens padrão com prioridade */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Define a fonte para a área principal */
}

.titulo {
    font-size: 50px;
    color: #157666;
}

#text-section {
    max-width: 30%; /* Limita a largura máxima da seção de texto */
    padding: 0px 0px 60px 60px; /* Padding com 60px à esquerda e na parte inferior */
}
#text-section h1 {
    font-size: 24px;
    color: #b84d0b;
    margin: 10px 0;
}

.description {
    font-size: 20px;
    line-height: 1.4;  /* Altura da linha para melhor legibilidade */  
    text-align: left;
}

#form-section {
    max-width: 100%;  /* Largura máxima de 100% */
}
#form-section fieldset{
    max-width: 100%;
    background-color: #b84d0b35;
    border: 1px solid #b84d0b35;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ao redor do fieldset */
    color: #b84d0b;
    border: none;
    padding: 30px;
    margin: 0px 60px 0px 0px; /* Margem à direita e margens superiores e inferiores zero */
}
 

 legend img{
    background-color: #ffffff;    
    padding: 8px;
    border-radius: 100%;  /* Forma a imagem em círculo */
    box-shadow: 1px 2px 3px #949494; /* Sombra ao redor da imagem */
    border: 1px solid #ececec;
 }

.profile-image {
    text-align: center; /* Centraliza o conteúdo*/
    
}

.profile-image img {
    width: 60px; 
    height: auto;
}

#form-section label {
    margin-bottom: 5px;
    font-weight: bold;
}

#form-section input, #form-section textarea {
    width: calc(100% - 20px);  /* Largura de 100% menos 20px para padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#form-section button {    
    position: absolute; /* Posiciona o botão de forma absoluta */
    padding: 10px 20px; /* Padding interno do botão */
    background-color: #152576;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    margin-top:10px;
    left: 59%; /* Alinha o botão 59% da largura da tela da esquerda */
}

#form-section button:hover {
    background-color: #0f1b59;
}

#message, #name, #email{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Estilo icones acessibilidade*/

#acessibilidade {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    background-color: #0f1b59;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

#acessibilidade a {
    text-align: center;
    display: block;
}

#acessibilidade img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

#acessibilidade img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

@media (max-width: 1024px) {

    section {
        height: auto;
        width: auto;
    }
  
    .titulo {
        font-size: 40px;
    }

    #form-section fieldset{
        max-width: 100%;
        background-color: #b84d0b35;
        border: 1px solid #b84d0b35;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        color: #b84d0b;
    }

    #text-section {
        max-width: 45%;
        padding: 20px;
    }

    #text-section h1 {
        font-size: 22px;
    }

    .description {
        font-size: 18px;
    }

    .profile-image img {
        width: 55px;
    }

    footer {
        padding: 15px; /* Reduz o padding para ocupar menos espaço vertical */
    }

    footer p {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

}

@media (max-width: 790px) {

    .titulo {
        font-size: 36px;
    }

    #text-section {
        max-width: 100%;
        padding: 10px;
    }

    #text-section h1 {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    main{
        display: block;
    }

    #form-section{
        max-width: 100%;
    }

    #form-section fieldset{
        max-width: 100%;
        padding: 20px;
        margin-top: 10px;
        margin-right: 0px;

    }

    .profile-image {
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    .profile-image img {
        width: 50px;
    }

    #form-section input, #form-section textarea {
        width: 100%;
        width: calc(100% - 20px); 

    }

    #form-section button {
        position: static;
        margin: 20px auto 0;
        display: block;
        width: 100%;
    }

    footer {
        padding: 10px; /* Padding ainda menor em telas menores */
    }

    footer p {
        font-size: 12px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    footer a {
        display: block; /* Os links serão exibidos como blocos, em vez de inline */
        margin-top: 10px; /* Adiciona um espaço entre os links e o texto */
    }
   
}